.cross {
  transform: scale(2);
  cursor: pointer;
}

.alert {
  font-size: 2rem;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  padding: 0.5rem 0 0.5rem 0;
}

.alert:last-child {
  border-bottom: none;
}

@media screen and (max-width: 768px) {
  .cross {
    transform: scale(1);
  }

  .alert {
    font-size: 1rem;
  }
}
