.daily {
  display: flex;
  flex-grow: 1;
}

.daily__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-grow: 1;
  border-right: 1px solid rgba(255, 255, 255, 0.5);
}

.daily__item:last-child {
  border-right: none;
}

.daily__title {
  font-size: 2rem;
}

.daily__max {
  font-size: 2rem;
}

.daily__min {
  font-size: 1rem;
}

.daily__img {
  width: 80px;
  height: 80px;
}

.daily__pop {
  font-size: 1rem;
}

@media screen and (max-width: 768px) {
  .daily__title {
    font-size: 1rem;
  }

  .daily__max {
    font-size: 1rem;
  }

  .daily__min {
    font-size: 0.6rem;
  }

  .daily__img {
    width: 40px;
    height: 40px;
  }

  .daily__pop {
    font-size: 0.6rem;
  }
}
