.hourly {
  display: flex;
  flex-grow: 1;
}

.hourly__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-grow: 1;
  border-right: 1px solid rgba(255, 255, 255, 0.5);
}

.hourly__item:last-child {
  border-right: none;
}

.hourly__title {
  font-size: 2rem;
}

.hourly__temp {
  font-size: 2rem;
}

.hourly__img {
  width: 80px;
  height: 80px;
}

.hourly__pop {
  font-size: 1rem;
}

@media screen and (max-width: 768px) {
  .hourly__title {
    font-size: 1rem;
  }

  .hourly__temp {
    font-size: 1rem;
  }

  .hourly__img {
    width: 40px;
    height: 40px;
  }

  .hourly__pop {
    font-size: 0.6rem;
  }
}
