.current__time {
  font-size: 1.5rem;
  font-weight: normal;
  margin-left: 0.5rem;
}

.current__temperature {
  font-size: 6rem;
}

.current__description {
  font-size: 2rem;
}

.current__max,
.current__min {
  font-size: 1.5rem;
  margin-right: 0.5rem;
}

@media screen and (max-width: 768px) {
  .current__time {
    font-size: 1rem;
  }

  .current__temperature {
    font-size: 3rem;
  }

  .current__description {
    font-size: 1.25rem;
  }

  .current__max,
  .current__min {
    font-size: 1rem;
  }
}
