.card {
  display: flex;
  flex-direction: column;
  border-radius: 25px;
  background-color: #3a3a3a;
  width: 100%;
  overflow: hidden;
}

/* card__top */
.card__top {
  display: flex;
  background-color: rgba(0, 0, 0, 0.25);
  padding: 2rem 2rem 1rem 2rem;
}

.card__title {
  font-size: 2rem;
  width: 100%;
}

.card__time {
  font-size: 1.5rem;
  font-weight: normal;
  margin-left: 0.5rem;
}

/* card__body */
.card__body {
  padding: 1rem 2rem 2rem 2rem;
}

.card__temperature {
  font-size: 6rem;
}

.card__description {
  font-size: 2rem;
}

.card__min,
.card__max {
  font-size: 1.5rem;
  margin-right: 0.5rem;
}

@media screen and (max-width: 768px) {
  /* card-top */
  .card__top {
    padding: 1rem 1rem 0.5rem 1rem;
  }

  .card__title {
    font-size: 1.25rem;
  }

  .card__time {
    font-size: 1rem;
  }

  /* card-body */
  .card__body {
    padding: 0.5rem 1rem 1rem 1rem;
  }

  .card__temperature {
    font-size: 3rem;
  }

  .card__description {
    font-size: 1.25rem;
  }

  .card__min,
  .card__max {
    font-size: 1rem;
  }
}
