.left {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.left__temperature {
  font-size: 6rem;
}

.left__description {
  font-size: 2rem;
}

.right {
  display: flex;
  justify-content: flex-end;
  flex-grow: 1;
}

.right__img {
  width: 152px;
  height: 152px;
}

@media screen and (max-width: 768px) {
  .left__temperature {
    font-size: 3rem;
  }

  .left__description {
    font-size: 1rem;
  }

  .right__img {
    width: 76px;
    height: 76px;
  }
}
