.item {
  display: flex;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  padding: 0.5rem;
}

.item:last-child {
  border-bottom: none;
}

.item__start {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-grow: 1;
}

.item__end {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-grow: 1;
}

.item__svg {
  transform: scale(1.5);
  width: 4rem;
}

.item__text {
  font-size: 2rem;
}

@media screen and (max-width: 768px) {
  .item__text {
    font-size: 1rem;
  }

  .item__svg {
    transform: scale(1);
    width: 2rem;
  }
}
