.current {
  width: 100%;
}

.current__item {
  display: flex;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  padding: 0.5rem;
}

.current__item:last-child {
  border-bottom: none;
}

.current__title {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-grow: 1;
  font-size: 2rem;
}

.current__info {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-grow: 1;
  font-size: 2rem;
}

.current__svg {
  transform: scale(1.5);
  width: 4rem;
}

@media screen and (max-width: 768px) {
  .current__title,
  .current__info {
    font-size: 1rem;
  }

  .current__svg {
    transform: scale(1);
    width: 2rem;
  }
}
