.hours {
  display: flex;
  flex-grow: 1;
}

.hours__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-grow: 1;
  border-right: 1px solid rgba(255, 255, 255, 0.5);
}

.hours__item:last-child {
  border-right: none;
}

.hours__title {
  font-size: 2rem;
}

.hours__temp {
  font-size: 2rem;
}

.hours__rain {
  font-size: 1.5rem;
}

.hours__img {
  width: 100px;
  height: 100px;
}

@media screen and (max-width: 768px) {
  .hours__title {
    font-size: 1rem;
  }

  .hours__temp {
    font-size: 1rem;
  }

  .hours__rain {
    font-size: 0.8rem;
  }

  .hours__img {
    width: 50px;
    height: 50px;
  }
}
