.reload-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.reload-container__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 20px;
  font-size: 3rem;
  border: none;
  background-color: transparent;
  color: #fff;
}

@media screen and (max-width: 768px) {
  .reload-container__btn {
    font-size: 2rem;
  }
}
