@font-face {
  font-family: 'Roboto';
  src: url('/fonts/Roboto-Regular.ttf');
  font-weight: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url('/fonts/Roboto-Bold.ttf');
  font-weight: bold;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  color: #fff;
  background-color: #10161d;
}

button {
  border: none;
  background-color: transparent;
  cursor: pointer;
  color: #fff;
}

svg {
  fill: #fff;
}

.horizontal {
  display: flex;
}
