.bar {
  display: flex;
  border-radius: 25px;
  background-color: #212b3b;
  width: 100%;
  overflow: hidden;
  margin-bottom: 1rem;
  padding: 1rem 2rem 1rem 2rem;
}

.bar__measurement-btn {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 200px;
}

.bar__middle {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.bar__reload-btn {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 200px;
}

@media screen and (max-width: 768px) {
  .bar {
    margin-bottom: 0.5rem;
    padding: 0.5rem 1rem 0.5rem 1rem;
  }
}
